/*player*/
#togpane_log td[title*='hits']:not([title*='hits you'])/*skill*/,
#togpane_log td[title*='blasts']/*spell*/,
#togpane_log td[title*='crits']:not([title*='crits you'])
{color: teal;}

#togpane_log td[title*='You hit'],
#togpane_log td[title*='You crit'],
#togpane_log td[title*='You counter'],
#togpane_log td[title*='Your offhand hit'],
#togpane_log td[title*='Your offhand crit'],
#togpane_log td[title*='unleash']
{color: blue !important;}

#togpane_log td[title*='procs the effect']/*obsolete?*/
{color: purple;}


#togpane_log td[title*='You resist'],
#togpane_log td[title*='You dodge'],
#togpane_log td[title*='You evade'],
#togpane_log td[title*='You block'],
#togpane_log td[title*='You parry'],
#togpane_log td[title*='misses']/*monster*/,
#togpane_log td[title^='Your'][title*='misses its mark']
{color: #999;}

#togpane_log td[title*='You gain']:not([title*='drained'])/*Absorb*/
{color: #BA9E1C;}

#togpane_log td[title*='uses']
{color: orange;}



#togpane_log td[title*='You crit'],
#togpane_log td[title*='crits'],
#togpane_log td[title*='blasts'],
#togpane_log td[title*='unleash']
{font-weight: bold;}

#togpane_log td[title*='You cast'],
#togpane_log td[title*='explodes for']
{color: teal;}

#togpane_log td[title*='Bleeding Wound hits'],
#togpane_log td[title*='Spreading poison hits'],
#togpane_log td[title*='Your spike shield hits'],
#togpane_log td[title*='Searing Skin hits']/*obsolete?*/,
#togpane_log td[title*='Burning Soul hits']
{color: purple !important;}

#togpane_log td[title*='restores'],
#togpane_log td[title*='You are healed'],
#togpane_log td[title*='recovered'],
#togpane_log td[title*='hostile spell is drained'],
#togpane_log td[title*='You drain'],
#togpane_log td[title*='Ether Theft drains'],
#togpane_log td[title*='Vital Theft drains']
{color: green;}

#togpane_log td[title*='enough MP']
{color: #F77;}

#togpane_log td[title*='its you for']:not([title*='its you for 1 '])/*hits and crits*/
{color: red;}

#togpane_log td[title*='its you for 1 ']/*hits and crits*/
{color: #999;}

/*monster*/
#togpane_log td[title*='casts']
{color: #0016B8;}

#togpane_log td[title*='powerup']
{color: #F0F;}

#togpane_log td[title*='charging soul']/*obsolete?*/,
#togpane_log td[title*='Your spirit shield absorbs']
{color: #C97600;}

/*monster*/
#togpane_log td[title*='evades'],
#togpane_log td[title*='parries'],
#togpane_log td[title*='resists']
{color: Brown; font-weight: bold;}