/* Icon */
#hvstat-icon {
	position: absolute;
	top: 4px;
	left: 1204px;
	cursor: pointer;
}
#hvstat-icon span {
	margin: 3px;
}

/* Proficiency popup icon */
#hvstat-proficiency-popup-icon {
	position: absolute;
	top: 671px;
	border: 1px solid;
	margin-left: 5px;
	padding: 2px;
	width: 132px;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	cursor: default;
}

/* Proficiency popup */
#hvstat-proficiency-popup {
	visibility: hidden;
	position: absolute;
	top: -135px;
	left: 145px;
	border: 1px solid #5C0D11;
	background: #EDEBDF;
	width: auto;
	height: auto;
	opacity: 1.0;
	z-index: 5;
}
#hvstat-proficiency-popup table {
	border-collapse: collapse;
}
#hvstat-proficiency-popup th,
#hvstat-proficiency-popup td {
	padding: 1px 3px;
	white-space: nowrap;
}
#hvstat-proficiency-popup thead th {
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
}
#hvstat-proficiency-popup tbody th {
	font-size: 9pt;
	font-weight: normal;
	text-align: right;
}
#hvstat-proficiency-popup td {
	font-size: 9pt;
	font-weight: normal;
	text-align: right;
}

/* Duration badge */
.hvstat-duration-badge {
	width: 30px;
	display: inline-block;
	text-align: center;
	position: relative;
	margin-left: -30px;
}
.hvstat-duration-badge > div {
	background: #EFEEDC;
	border: 1px solid #5C0D11;
	padding: 0px 1px;
	display: inline-block;
	min-width: 12px;
	font-weight: bold;
}
.hvstat-duration-badge-character { top: 2px; }
.hvstat-duration-badge-monster { top: -25px; }
.hvstat-duration-badge-yellow-alert > div { background-color: orange; }
.hvstat-duration-badge-red-alert > div { background-color: red; }

/* Effect stack level badge */
.hvstat-effect-stack-level-badge {
	width: 30px;
	display: inline-block;
	text-align: right;
	position: relative;
	margin-left: -30px;
	top: -4px;
	opacity: 0.75;
}
.hvstat-effect-stack-level-badge > div {
	color: white;
	background: Purple;
	padding: 0px 1px;
	display: inline-block;
	font-weight: bold;
}

/* Powerup box */
.hvstat-powerup-box {
	position: absolute;
	top: 7px;
	right: 5px;
	width: 30px;
	height: 32px;
	background-color: #EFEEDC;
	border: 2px double #555555;
}
.hvstat-powerup-box-none {
	background-image: none;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 32px;
	cursor: default;
}
.hvstat-powerup-box-channeling { background-image: url(images/channeling.png); cursor: pointer; }
.hvstat-powerup-box-health { background-image: url(images/healthpot.png); cursor: pointer; }
.hvstat-powerup-box-mana { background-image: url(images/manapot.png); cursor: pointer; }
.hvstat-powerup-box-spirit { background-image: url(images/spiritpot.png); cursor: pointer; }

/* Quickcast highlight */
.hvstat-health-yellow-alert { background-color: orange; }
.hvstat-health-red-alert { background-color: red; }
.hvstat-magic-yellow-alert { background-color: blue; }
.hvstat-magic-red-alert { background-color: darkblue; }
.hvstat-spirit-yellow-alert { background-color: lime; }
.hvstat-spirit-red-alert { background-color: green; }

/* Battle log turn divider */
.hvstat-turn-divider { border-bottom: 1px solid #5c0d11; padding-bottom: 3px; }

/* Round counter */
.hvstat-round-counter {
	font-size: 18px;
	font-weight: bold;
	text-align: right;
	position: absolute;
	top: 6px;
	right: 17px;
	padding-right: 15px;
}
.hvstat-round-counter-second-last { color: orange; }
.hvstat-round-counter-last { color: red; }

/* Scan button */
.hvstat-scan-button {
	top: -2px;
	left: 365px;
	position: absolute;
	width: 25px;
	height:10px;
	border: 2px double #555555;
	font-size: 9px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}
.hvstat-scan-button-highlight {
	background-color: Pink;
}

/* Skill button */
.hvstat-skill-button {
	left: 365px;
	position: absolute;
	background-color: #EFEEDC;
	width: 25px;
	height:10px;
	border: 2px double #555555;
	font-size: 9px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}
.hvstat-skill1-button { top: 12px; }
.hvstat-skill2-button { top: 26px; }
.hvstat-skill3-button { top: 40px; }

/* Monster */
.hvstat-monster-number { display: none; }
.hvstat-monster-number + div {
	position: relative;
	display: inline-block;
	top: 0px;
	left: 0px;
	width: 25px;
	font-size: 7pt;
	font-weight: bold;
	padding-top: 0.0em;
	color: rgb(92,13,17);
	text-shadow: 0px 0px 1px rgba(92,13,17,0.5);
}
.hvstat-monster-number + div + div {
	position: relative;
	display: inline-block;
	top: 0px;
	left: 0px;
	width: 25px;
	font-size: 12pt;
	font-weight: bold;
	margin-top: -2px;
	margin-bottom: 2px;
	color: rgb(193,0,19);
	text-shadow: -1px -1px 5px #000,1px -1px 5px #000,-1px 1px 5px #000,1px 1px 5px #000;
}

div.hvstat-monster-health {
	z-index: 10;
	position: absolute;
	top: -1px;
	width: 120px;
	text-align: center;
	font-size: 8pt;
	font-weight: bolder;
	color: yellow;
}
div.hvstat-monster-magic {
	z-index: 10;
	position: absolute;
	top: 11px;
	width: 120px;
	text-align: center;
	font-size: 8pt;
	font-weight: bolder;
	color: yellow;
}
div.hvstat-monster-spirit {
	z-index: 10;
	position: absolute;
	top: 23px;
	width: 120px;
	text-align: center;
	font-size: 8pt;
	font-weight: bolder;
	color: yellow;
}

.hvstat-monster-status-on-hv-font {
	font-family: Arial;
	font-size: 7pt;
	font-weight: bold;
	padding: 0 1px;
	white-space: nowrap;
}
.hvstat-monster-status-on-custom-font {
	display: inline;
	margin-left: 1px;
	font-family: Arial;
	font-size: 7pt;
	font-weight: bold;
	padding: 0 1px;
	white-space: nowrap;
}
.hvstat-monster-status-unknown { color: red; }
.hvstat-monster-status-class { color: blue; }
.hvstat-monster-status-power-level { color: blue; }
.hvstat-monster-status-weakness { color: #3CB878; }
.hvstat-monster-status-resistance { color: #FF3300; }
.hvstat-monster-status-imperviableness { color: #990000; text-decoration: underline; }
.hvstat-monster-status-melee-attack-type { color: black; }
.hvstat-monster-status-magic-skill-attack-type { color: blue; }
.hvstat-monster-status-spirit-skill-attack-type { color: red; }

/* Monster popup */

/* Battle round stats */
.hvstat-battle-round-stats {
}

/* Equipment tag */
input.hvstat-equipment-tag {
	position: absolute;
	left: 414px;
	opacity: 0.8;
	font-size: 8pt;
	padding: 0px 0px;
	margin: 1px 0px;
}
input.hvstat-equipment-tag-new {
	color: Red;
}

/*** Dialog UI ***/
#hvstat-panel {
	text-align: left;
}

#hvstat-tabs > div {
	height: 512px;
	overflow: auto;
}

.hvstat-tracking-paused {
	display: none;
	padding: 4px;
	margin: 4px;
	font-weight: bold;
	text-align: center;
}

.hvstat-box {
	display: box;
	display: -moz-box;
	display: -webkit-box;
}
.hvstat-box > div {
	margin: 4px 8px;
}

.hvstat-table-total th,
.hvstat-table-total td {
	border-top: 1px solid #5C0D11;
	font-style: italic;
}

#hvstat-arena-rewards-pane ul,
#hvstat-shrine-pane ul {
	list-style-type: none;
}

#hvstat-arena-rewards-pane ul,
#hvstat-arena-rewards-pane li,
#hvstat-shrine-pane ul,
#hvstat-shrine-pane li {
	margin: 0px;
	padding: 0px;
}

#hvstat-overview-pane table,
#hvstat-arena-rewards-pane table,
#hvstat-shrine-artifact-trade {
	border-collapse: collapse;
}

#hvstat-overview-pane thead th,
#hvstat-arena-rewards-pane thead th,
#hvstat-shrine-artifact-trade thead th {
	border-bottom: 1px solid #5C0D11;
}

#hvstat-overview-pane th,
#hvstat-overview-pane td,
#hvstat-arena-rewards-pane th,
#hvstat-arena-rewards-pane td,
#hvstat-shrine-artifact-trade th,
#hvstat-shrine-artifact-trade td {
	text-align: right;
	padding: 1px 5px;
	white-space: nowrap;
}

#hvstat-overview-reporting-period > h2 {
	margin-top: 0px;
}

#hvstat-overview-rounds > h2,
#hvstat-overview-exp > h2,
#hvstat-overview-credits > h2,
#hvstat-overview-drops > h2 {
	margin-top: 12px;
}

#hvstat-overview-rounds > h2 + table,
#hvstat-overview-exp > h2 + table,
#hvstat-overview-credits > h2 + table,
#hvstat-overview-drops > h2 + table {
	margin-top: -35px;
	margin-left: 15px;
}

#hvstat-overview-reporting-period > table {
	margin-top: -32px;
	margin-left: 140px;
}

#hvstat-overview-reporting-period td {
	text-align: left;
}

#hvstat-overview-drops th:nth-child(6),
#hvstat-overview-drops td:nth-child(6) {
	text-align: left;
}

#hvstat-overview-drops-equipments span:nth-of-type(1) { color: Red; }
#hvstat-overview-drops-artifacts span:nth-of-type(1) { color: Blue; }

#hvstat-settings-pane .hvstat-vertical-top {
	vertical-align: top;
	padding-top: 3px;
}

#hvstat-settings-effect-expiring-warnings {
	display: box;
	display: -moz-box;
	display: -webkit-box;
}
