/*** Dialog UI ***/

/* General */

#hvstat-panel {
	text-align: left;
}

#hvstat-tabs {
    border: 0px;
 }

#hvstat-tabs > div {
	height: 512px;
	overflow: auto;
}

.hvstat-tracking-paused {
	display: none;
	padding: 4px;
	margin: 4px;
	font-weight: bold;
	text-align: center;
}

.hvstat-box {
	display: box;
	display: -moz-box;
	display: -webkit-box;
}
.hvstat-box > div {
	margin: 4px 8px;
}

.hvstat-table-total th,
.hvstat-table-total td {
	border-top: 1px solid #5C0D11;
	font-style: italic;
}

.hvstat-table-row-divider th,
.hvstat-table-row-divider td {
	border-top: 1px solid #5C0D11;
}

.hvstat-table-column-total {
	font-style: italic;
}

.hvstat-color-credits { color: #A89000; }
.hvstat-color-item { color: #00B000; }
.hvstat-color-crystal { color: #BA05B4; }
.hvstat-color-monster-food { color: #0D74E9; }
.hvstat-color-token { color: #254117; }
.hvstat-color-artifact { color: #0000FF; }
.hvstat-color-equipment { color: #FF0000; }

/* Individual */

#hvstat-shrine-pane ul {
	list-style-type: none;
}

#hvstat-shrine-pane ul,
#hvstat-shrine-pane li {
	margin: 0px;
	padding: 0px;
}

#hvstat-overview-pane table,
#hvstat-drops-pane table,
#hvstat-shrine-artifact-trade {
	border-collapse: collapse;
}

#hvstat-overview-pane thead th,
#hvstat-drops-pane thead th,
#hvstat-shrine-artifact-trade thead th {
	border-bottom: 1px solid #5C0D11;
}

#hvstat-overview-pane th,
#hvstat-overview-pane td,
#hvstat-drops-pane th,
#hvstat-drops-pane td,
#hvstat-shrine-artifact-trade th,
#hvstat-shrine-artifact-trade td {
	text-align: right;
	padding: 1px 5px;
	white-space: nowrap;
}

#hvstat-overview-reporting-period > h2 {
	margin-top: 0px;
}

#hvstat-overview-rounds > h2,
#hvstat-overview-exp > h2,
#hvstat-overview-credits > h2,
#hvstat-overview-drops > h2 {
	margin-top: 12px;
}

#hvstat-overview-rounds > h2 + table,
#hvstat-overview-exp > h2 + table,
#hvstat-overview-credits > h2 + table,
#hvstat-overview-drops > h2 + table {
	margin-top: -35px;
	margin-left: 15px;
}

#hvstat-overview-reporting-period > table {
	margin-top: -32px;
	margin-left: 140px;
}

#hvstat-overview-reporting-period td {
	text-align: left;
}

#hvstat-overview-drops th:nth-child(6),
#hvstat-overview-drops td:nth-child(6) {
	text-align: left;
}

#hvstat-overview-drops-equipments span:nth-of-type(1) { color: Red; }
#hvstat-overview-drops-artifacts span:nth-of-type(1) { color: Blue; }

#hvstat-drops-overall-stats thead tr:nth-of-type(1) th:nth-of-type(2),
#hvstat-drops-overall-stats thead tr:nth-of-type(1) th:nth-of-type(3),
#hvstat-drops-overall-stats thead tr:nth-of-type(1) th:nth-of-type(4),
#hvstat-drops-overall-stats thead tr:nth-of-type(1) th:nth-of-type(5),
#hvstat-drops-overall-stats thead tr:nth-of-type(1) th:nth-of-type(6) {
	border-left: 1px solid #5C0D11;
	text-align: center;
}

#hvstat-drops-overall-stats thead tr:nth-of-type(2) th:nth-of-type(3n+1),
#hvstat-drops-overall-stats tbody tr:nth-last-of-type(2) th:nth-of-type(3n+2),
#hvstat-drops-overall-stats tbody td:nth-of-type(3n+1) {
	border-left: 1px solid #5C0D11;
}

#hvstat-drops-overall-stats tbody tr:nth-of-type(1) { color: #A89000; }
#hvstat-drops-overall-stats tbody tr:nth-of-type(2) { color: #00B000; }
#hvstat-drops-overall-stats tbody tr:nth-of-type(3) { color: #BA05B4; }
#hvstat-drops-overall-stats tbody tr:nth-of-type(4) { color: #0D74E9; }
#hvstat-drops-overall-stats tbody tr:nth-of-type(5) { color: #254117; }
#hvstat-drops-overall-stats tbody tr:nth-of-type(6) { color: #0000FF; }
#hvstat-drops-overall-stats tbody tr:nth-of-type(7) { color: #FF0000; }

#hvstat-drops-equipments { overflow-x: scroll; }

#hvstat-drops-items thead th:nth-child(1),
#hvstat-drops-items tbody th:nth-child(1),
#hvstat-drops-equipments thead th:nth-child(1),
#hvstat-drops-equipments thead th:nth-child(2),
#hvstat-drops-equipments thead th:nth-child(3),
#hvstat-drops-equipments thead th:nth-child(6),
#hvstat-drops-equipments tbody th:nth-child(1),
#hvstat-drops-equipments tbody td:nth-child(2),
#hvstat-drops-equipments tbody td:nth-child(3),
#hvstat-drops-equipments tbody td:nth-child(6) {
	text-align: left;
}

#hvstat-settings-pane .hvstat-vertical-top {
	vertical-align: top;
	padding-top: 3px;
}

#hvstat-settings-effect-expiring-warnings {
	display: box;
	display: -moz-box;
	display: -webkit-box;
}
